body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
}

/**
Comment this section since it's no longer needed with bootstrap
*/

/* .content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
} */