{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center py-4 display-4">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 class="text-center">There are no tasks. Create one below!</h4>
    {% else %}

    <table class="table table-striped table-sm table-hover">
        <tr class="text-center">
            <th>#</th>
            <th style="width: 80%">Task</th>
            <th style="width: 10%">Added</th>
            <th colspan="2">Actions</th>
        </tr>
        {% for task in tasks %}
            <tr class="text-muted">
                <td>{{ task.id }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a href="/update/{{task.id}}" class="btn btn-info">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form-group pt-3">
        <form action="/" method="POST">
        <input type="text" name="content" class="form-control" placeholder="Add a new Task..."/>
        <input type="submit" class="btn btn-success form-control mt-2" value="Add Task" />
        </form>
   </div>
</div>
{% endblock %}