{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center py-4 display-4">Task Master</h1>
    <h4 class="text-center">Update Task</h4>

    <div class="form-group pt-3">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" class="form-control" value="{{task.content}}">
            <input type="submit" value="Update" class="btn btn-success form-control mt-2">
        </form>
    </div>
</div>
{% endblock %}